<!DOCTYPE html>

<head>

  <meta charset="utf-8">


  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/my.css') }}">
</head>

<body>

{% include 'header.html' %}
<form action="/admin/clothing/create" method="POST"  enctype="multipart/form-data" >
  <div class="form-group">
    <label for="InputName">Наименование товара</label>
    <input type="text" class="form-control" id="InputName" name="name" placeholder="Введите наименование товара">
    <!--<form class="form-inline">-->
     <label for="InputAmount">Стоимость</label>
     <label class="sr-only" for="InputAmount">Введите стоимость в рублях</label>
     <div class="input-group">
        <div class="input-group-addon">&#8381;</div>
        <input type="number" class="form-control" id="InputAmount" name="price" placeholder="Введите стоимость в рублях">
        <div class="input-group-addon">.00</div>
     </div>

     <div class="form-group">
            <label for="SelectBrand">Выбор бренда</label>
            <select class="form-control" id="SelectBrand" name="Brand">
                {% for brand in brands %}
                    <option value="{{brand.id}}">{{brand.name}}</option>
		        {% endfor %}
            </select>
     </div>
     <div class="form-group">
            <label for="SelectCategory">Выбор категории товара</label>
            <select class="form-control" id="SelectCategory" name="Category">
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
		        {% endfor %}
            </select>
     </div>
     <div class="form-group">
        <label for="InputFile">Загрузка изображения</label>
        <input type="file" id="InputFile" name="File">
        <p class="help-block">Загрузите изображение товара</p>
     </div>
     <button type="submit" class="btn btn-default">Сохранить</button>
  </div>
</form>

{% include 'footer.html' %}

</body>

